<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Donald Trump Data</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="/scripts/app.js"></script>

  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="input-group">
          <h2>Trump API</h2>
          <p>You want an API? I make the best APIs. My friends always ask me "Donald, how do you make such great APIs?"</p>
          <p>Trump API is the official open source project to make APIs great again. With yugely scalable endpoints, Trump API allows you to inject some of the Donald anywhere you please.</p>
          <p>Trump API is also a nickname aggregator, so please fill free to add your favorite nicknames for Donald, Lying Hillary or Crazy Bernie.</p>
          <div class='panel panel-default'><h4 class='form-head'>Add New Nickname</h4>
          <div class="panel-body">
          <form class="form-inline">
            <div class="form-group">
              <input type="text" class="form-control" name="nickname" placeholder="Nickname">
            </div>
            <button type="submit" class="btn btn-warning">Add Nickname</button>
          </form>
          </div>
          </div>
          </div>

        </div>
      </div>
    </div>
  </body>
</html>
